
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');


  body{
padding: 0;
margin: 0;
box-sizing: border-box;

background-color: #1A1A29;

  }


 #header_wrapper .menu-navbar-nav {

display: flex;
justify-content: center;
align-items: center;


  }



  .header_wrapper {
background-color: #181824;
 color: #7562E0;  }



.header_wrapper .navbar-menu{

  width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    
    color: white;
    list-style: none;
 

}

  
.header_wrapper .navbar-menu li{

padding: 0 30px;

  }

.header_wrapper .contact-btn{

text-decoration: none;
color: white;
border: 2px solid #7562E0;
border-radius: 8px;
font-size: 18px;
font-weight: 700;
padding: 10px 25px;

}
  

  
.header_wrapper .contact-btn:hover{

background-color: #7562E0;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
  transition: box-shadow 1s ease; /* Add a smooth transition */

    }



    .header_wrapper .nav-item .nav-link.active{

      color: #7562E0;
     
  }
  





/***************************hero_wrapper**********************/

.hero_wrapper{

    display: flex;
    
    padding: 200px 0 125px;
   
  
  
  }


.hero_wrapper h2{


font-size: 32px;
font-weight: 500;
color: white;
line-height:1;


}



.hero_wrapper h1{

    font-size: 60px;
    font-weight: 600;
    color: white;
    line-height:1.5;
   color: #7562E0;


 /* color: #181824;
  -webkit-text-stroke: 0.3vw #7562E0;
 */
}

.containe{

  width: 100%;
 
}



/*
h1::before{

content: attr(data-text);
position: absolute;
top: 0;
left: 0;

height: 100%;
color: #7562E0;
-webkit-text-stroke: 0vw #7562E0;
border-right: 2px solid #7562E0;
overflow: hidden;
animation: animate 6s linear infinite;

}

@keyframes animate{



0%,10%,100%{

width: 0;

}

70%,90%{

width: 100%;

}


}


*/



.hero_wrapper p{

    font-size: 20px;
  line-height: 2;
    color: white;
    margin-bottom: 40px;

}

.hero_wrapper a{

text-decoration: none;
color: white;
font-family: 'poppins';
margin-right: 30px;




}


.hero_wrapper .hero-btn-1{

border: 1px solid #7562E0;
background: #7562E0;
border-radius: 8px;
padding: 10px 20px;

}

.hero_wrapper .hero-btn-2{

    border: 2px solid #7562E0;
  
    border-radius: 8px;
    padding: 10px 20px;
    
    }
    

.hero_wrapper img{

    width: 100%;
}


.hero_wrapper  img{
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float{

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(20px);
  }

  100%{
    transform: translateY(00px);
  }

}


.image-width img{

width: 100%;

}


.hero_wrapper .images img{

  display: flex;
  width: 100%;
  
  background: url(../images/banner-rectangle.png) no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;

}


.img {
  background-image: url('../images/banner-rectangle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100px; /* Adjust the height as needed */
  background-size: cover;
  justify-content: center;
  align-items:self-start;
  align-items: center;
  color: #1A1A29;

}


/*************about-wrapper***************/

.about_wrapper{

  margin-top: 50px;
}

.about_wrapper h1{

font-size: 32px;
font-weight: 700 ;
color: #7562E0;
line-height: 1.5;

}

.about_wrapper p{

font-size: 18px;
color: white;
margin-bottom: 30px;

}

.about_wrapper span{
font-size: 24px;
font-weight: 500;


}


/*

.skill {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.skill-name {
  flex: 1;
  font-weight: bold;
}

.skill-bar {
  flex: 2;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  position: relative;
}

.skill-progress {
  height: 100%;
  border-radius: 10px;
}

.html {
  background: linear-gradient(to right, #ff00cc, #3333cc, #003399);
}

.css {
  background: linear-gradient(to right, #ff6a11, #fc2575, #ffcc00);
}

.skill-level {
  flex: 1;
  text-align: right;
  padding-left: 10px;
}

*/

/*
.custom-gradient-success {
  background: linear-gradient(to right, #00ff00, #ffff00, #ff0000);
}

.custom-gradient-info {
  background: linear-gradient(to right, #0080ff, #00ffcc, #ff00cc);
}

.custom-gradient-warning {
  background: linear-gradient(to right, #ffcc00, #ff8000, #ff0000);
}

.custom-gradient-danger {
  background: linear-gradient(to right, #ff0000, #ff8000, #ffcc00);
}

/* Override Bootstrap progress bar text color 
.progress-bar.text-dark {
  color: #000;
}
*/

/* Define custom gradients for different progress bars */


/* Define custom gradients for different progress bars */









/* Define custom gradients for different progress bars */
.custom-gradient-html {
  background: linear-gradient(to right, #e44d26, #f16529, #f16529);
  
}

.custom-gradient-css {
  background: linear-gradient(to right, #2965f1, #2965f1, #34b3f1);
}

.custom-gradient-js {
  background: linear-gradient(to right, #f7df1e, #ffec80, #f7df1e);
}

.custom-gradient-react {
  background: linear-gradient(to right, #00d8ff, #00d8ff, #61dafb);
}

.custom-gradient-wordpress {
  background: linear-gradient(to right, #21759b, #2979b8, #2979b8);
}

.custom-gradient-uiux {
  background: linear-gradient(to right, #6a11cb, #ff77cd, #b1c2fc);
}

/* Override Bootstrap progress bar text color */
.progress-bar.text-dark {
  color: #000;
}

/* Add transition effect */
.progress-bar {
  transition: width 1s ease-in-out;
}

/* Animate the progress bars */
.progress-bar[style*="width"] {
  width: 100%;
}




/*******************service******************/

.service_wrapper .rectangle{
margin-top: 100px;
border: 2px solid #6a11cb;
border-radius: 16px;

margin-right: 40px;




}

.service_wrapper .align{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 50px ;
padding-bottom: 50px;




}

.service_wrapper .align img{

padding-top: 50%;
padding-bottom: 20px;
  
  }

.service_wrapper .align h1{

font-size: 24px;
color: white;
padding-bottom: 10px;


}

.service_wrapper .align p{

  font-size: 16px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  
  
  }



/*************feature****************/
.project_wrapper{
  margin-top: 100px;
}
.project_wrapper .project_title{

font-size: 32px;
font-weight: 700;
color: #7562E0;

}

.project_wrapper .project_subtitle{

font-size: 18px ;
color: white;

}

.project_wrapper .rectangle_project {

  background-color: #31313f;
border:1px solid #31313F;
border-radius: 8px ;
box-shadow:
  0px 0.8px 9.5px rgba(0, 0, 0, 0.014),
  0px 2.1px 26.3px rgba(0, 0, 0, 0.02),
  0px 5.1px 63.3px rgba(0, 0, 0, 0.026),
  0px 17px 210px rgba(0, 0, 0, 0.04)
;

padding-bottom: 30px;

border-width:3px !important;
}

.project_wrapper .rectangle_project img{

padding-top: 45px;
padding-left: 16px;
padding-left: 45px;
padding-right: 16px;
padding-right: 45px;


}

.project_wrapper .rectangle_project h2{

color: #7562E0;
font-size: 24px ;
padding-top:16px;
padding-left: 45px;


}

.project_wrapper .rectangle_project p{

color: white;
font-size: 16px;
padding-top:10px;
padding-left: 16px;
padding-bottom: 20px;
overflow: hidden;
padding-right: 50px;
padding-left: 45px;

}


.project_wrapper .hero-btn-1{
margin-left: 16px;
  border: 1px solid #7562E0;
  background: #7562E0;
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  margin-left: 40px;
  
  
  
  }
  
  .project_wrapper .hero-btn-2{
  
      border: 2px solid #7562E0;
    
      border-radius: 8px;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      font-weight: 500;
      
      }





      /********footer*********/

      .footerwrapper {

margin-top: 80px;
      }

.footerwrapper h3{

font-size: 32px;
color: #7562E0;
font-weight: 700;

}

.footerwrapper p{

  color: white;
  font-size: 16px;
  font-weight: 500
  
  }

  
.footerwrapper h4{

  font-size: 24px;
  color: white;
  
  }

.footerwrapper ul {
display: flex;

justify-content: start;

}
  
.footerwrapper li {

  list-style: none;
  padding-right: 30px;
  font-size: 30px;
  color: #7562E0;
  text-decoration: none;
  
  
  }
    
  .footerwrapper li a{
    text-decoration: none;
    color: #7562E0;
  }









.footerwrapper .form-control{
margin-top: 40px;
background-color: #32323f;
border: none;
color: white;
}

.footerwrapper .form-control label{


  color: #93939a;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.footerwrapper .hero-btn-1{

  margin-top: 50px;
    border: 1px solid #7562E0;
    background: #7562E0;
    border-radius: 8px;
    padding: 10px 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
   
    
    
    
    }
    
    /************copy right*********/

    hr{
margin-top: 80px;
border: 1.5px solid #7562E0;

    }


.copyright_wrapper .footer_credits{

color: white;




}

.copyright_wrapper .footer_credits{
  color: white;
  font-weight: 500;
  }

  .copyright_wrapper .footer_credits a{
    color: #ffec80;
    text-decoration: none;
     
    }




 


  .navbar{
background-color: #181824;
--webkit-transition:all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition:all .2s linear;
     
    transition: all .2s linear;
   
    box-shadow:
  4px 11.9px 9.5px rgba(0, 0, 0, 0.007),
  11.1px 32.9px 26.3px rgba(0, 0, 0, 0.01),
  26.8px 79.3px 63.3px rgba(0, 0, 0, 0.013),
  89px 263px 210px rgba(0, 0, 0, 0.02);
  

  }




  /*********prgress bar*****/



  .card{

    margin-top: 80px;
    position: relative;
    width: 200px;
    height: 200px;
    border: none;
    
    background-color: #1A1A29;

  }

  .card .rating,
  .card .rating2,
  .card .rating3{

position: relative;
width: 100%;
height: 100%;
background: none;
background: #1A1A29;

border: #1A1A29;

  }

.card .rating .block,
.card .rating2 .block2,
.card .rating3 .block3{

position: absolute;
width: 2px;
height: 15px;
background: #000;
left: 50%;
transform-origin: 50% 100px ;

opacity: 0;
animation: animate 0.1s linear forwards;
/*transform: rotate(25deg);*/  border: none;

}

@keyframes animate {
  
to{
  opacity: 1;
}

}

.card .rating .block:nth-child(-n+91),
.card .rating2 .block2:nth-child(-n+81),
.card .rating3 .block3:nth-child(-n+71)
/*get =1 value up of given data*/
{ 

background: #0f0;
box-shadow: 0 0 15px #0f0,0 0 30px #0f0;

}

.card .rating h2,
.card .rating2 h2,
.card .rating3 h2{

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: #fff;
font-size: 1.2rem;
font-weight: 500;
text-align: center;
line-height: 1.5rem;
}

.card .rating h2 span,
.card .rating2 span,
.card .rating3 span{

font-size: 2.5rem;
font-weight: 700;

}

.card .rating h2 sup,
.card .rating2 h2 sup,
.card .rating3 h2 sup{

font-size: 1.5rem;
font-weight: 300;

}

.navbar .logo{

 width:70px;
}